*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #250057;
}


.display{
    background-color: white;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;    
}


.display input{
    padding: 10px 0;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 24px;
    /* color: #555; */
    color: black;
} 


.display img{
    width: 35px;
}